################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Buongustaio/Buongustaio/App_Data/aspnet-Buongustaio-20160429102011_log.ldf
/Buongustaio/Buongustaio/App_Data/aspnet-Buongustaio-20160429102011.mdf
*.user
