@model Buongustaio.Models.Retroalimentacion

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        <div class="text-center">
            <h1>Consulta de Seguimiento:</h1>
            <br />
            @Html.TextBoxFor(m => m.Id)
            <input type="submit" value="Consular" class="btn btn-default"  />
        </div>
        
        
    }
    
    
</body>
</html>
